@import '../../../scss/variables/color.scss';
@import '../../../scss/variables/settings.scss';


button.button{
    justify-content: center;
    height: auto;
    width: 286px;
    max-width: 100%;
    padding: 10px;
    color: $color-white;
    line-height: inherit !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    
    transition: background-color $base-transition-timing;
    background: $color-brand;
    border-radius: $base-radius;

    &:hover{
        background: $color-brand-shadow !important;
    }

    &--underline{
        border: 1px solid blue;
    }

}