@import '../../../scss/variables/color.scss';

.accordion {
	overflow: hidden;
	transition: all .3s ease;
	max-height: 600px;
	width: 100%;
	border-top: 2px solid rgba($color-gray-light, 1);

	&--collapsed {
		max-height: 0px;
		border-top: 2px solid rgba($color-gray-light, 0);
	}
}
